body {
    background: lightgray;
}

.Photo-Feed {
    background-color: white;
}

.header {
    width: 100%;
    background-color: white;
    margin-top: 0px;
    padding: 1px;
    display: flex;
    justify-content: center;
}

.card {
    margin: auto;
    background-color: #ffffff;
    color: rgb(24, 20, 20);
    overflow: hidden;
    border-radius: 0.5em;
    margin-bottom: 1em;
    width: 50%;
    
}

.card-img {
    width: 100%;
}

.card-title {
    display: flex;
    justify-content: space-between;
}
